:root {
    --background-color: #181818;
    --white: #fff;
    --btn-color: #4452FE;
}
body {
    font-family: Graphik;
    background-color: var(--background-color);
    color: var(--white);
    font-size:3vw;
}
@media screen and (max-width:11520px)
{
    body{
        font-size:20px;
    }
}
@media screen and (max-width:600px)
{
    body{
        font-size:3vw;
    }
}
@media screen and (max-width:400px)
{
    body{
        font-size:5vw;
    }
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.navigation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
@media screen and (max-width:11520px)
{
    .navigation{
        width: 600px
    }
}
@media screen and (max-width:600px)
{
    .navigation{
        width: 100%
    }
}
.navigation-item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
#search-field{
    background-color: #28282e;
    color: var(--white);
    font-size:3vw;
}
#search-button{
    background-color: #4452FE;
    color: var(--white);
    border-radius: 5px;
    border-color: #4452FE;
    font-size:3vw;
    font-weight: 300;
}
@media screen and (max-width:11520px)
{
    #search-field{
        font-size:18px;
    }
    #search-button{
        font-size:18px;
    }
    #label{
        width: 120px;
        border-radius: 5px;
    }
}
@media screen and (max-width:600px)
{
    #search-field{
        font-size:3vw;
    }
    #search-button{
        font-size:3vw;
    }
    #label{
        width: 20%;
        border-radius: 5px;
    }
}
@media screen and (max-width:400px)
{
    #search-field{
        font-size:5vw;
    }
    #search-button{
        font-size:5vw;
    }
}

.data-field{
    margin-top: 30px;
    width: 80%;
    background-color: #28282e;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-style: solid;
    border-color:#4452FE;
    border-width: 3px;
    border-radius: 5px;
}
#temp{
    text-align: center;
}
#description{
    text-align: center;
}
@media screen and (max-width:11520px)
{
    .data-field{
        width: 480px;
    }
    #weather-img{
        width:180px;
    }
}
@media screen and (max-width:600px)
{
    .data-field{
        width: 80%;
        margin-top: 5vw;
    }
    #weather-img{
        width:30vw;
    }
}